.container{
  position: relative;
  margin: auto;
  width: 40%;
  padding: 10px;
  border: 1px solid #f2f2f2;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(176,176,176,1);
     -moz-box-shadow: 1px 1px 4px 0px rgba(176,176,176,1);
          box-shadow: 1px 1px 4px 0px rgba(176,176,176,1);
  background-color: #fff;
  background-color: #F8F8F8;
}

.container > .container-menu i {
  position: absolute;
  top: 14px;
  left: 14px;
}

.dd-history{
  float:left;
  list-style-type: none;
  }
  
  .dd-history a{
  color: white !important;
  }
  
  .dd-history-menu{
  top:10px !important;
  left:10px !important;
  background-color: #81C784;
  color: white;
  border: none;
  padding: 0px;
  border-radius: 0;
  min-width: 5rem;
  text-align-last:center;
  }
  .dd-history-menu .dropdown-item:hover{
  color:black !important;
  }

  .dd-history .dropdown-toggle::after{
    border: none;
  }