<div class="container">
  <div class="container-menu">
  
  <li class="nav-item dropdown dd-history">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-bars"></i>
    </a>
    <div class="dropdown-menu dd-history-menu" aria-labelledby="navbarDropdown">
      <a [routerLink]="['/calculator']" class="dropdown-item">Calculator</a>
      <a [routerLink]="['converter']" class="dropdown-item">Converter</a>      
    </div>
  </li>
  </div>
<router-outlet></router-outlet>  
</div>    
    <p *ngIf="TestEnv">{{ history }}</p>
  